@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0a0909;
}

.wrapper {
    min-width: 0;
}

header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #2a2a2a;
    min-width: 0;
}

.head {
    position: absolute;
    display: flex;
    width: 100%;
}

.blackwork {
    display: block;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: white;
    width: 40px;
    padding: 1.5% 2.5%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    cursor: pointer;
}

.burger-menu-line {
    height: 5px;
    width: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
}

.header-logo {
    width: 18%;
    z-index: 10;
    padding-top: 1%;
    position: relative;
}

.header-logo,
.head-text {
    padding-left: 7%;
}

.head-content {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    min-width: 0;
}

.head-text {
    width: 60%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
}

.head-text h1 {
    font-size: 58px;
    font-family: Raleway;
    width: 90%;
}

.head-text h2 {
    font-family: Barlow;
    font-size: 18px;
    color: hsla(0, 0%, 100%, 0.65);
    width: 60%;
}

.head-text h3 {
    font-family: Barlow;
    font-size: 22px;
    font-weight: 700;
}

.head-links span {
    position: relative;
    width: 100%;
    display: block;
    height: 3px;
    margin-top: 2px;
    background-color: #2a2a2a;
}

@keyframes fill {
    from {
        width: 0%;
    }

    to {
        width: 100%;
        background-color: #ffdf8d;
    }
}

.head-links:hover span {
    animation: fill .7s forwards;
}

.first-link {
    width: 250px;
}

.second-link {
    width: 100px;
}

.head-text h1 span {
    color: #ffdf8d;
}

header .swiper {
    width: 40%;
    height: 100%;

}

header .swiper-slide img {
    width: 100%;
    height: 100%;
}

header .swiper-slide {
    height: 100%;
}


.fullscreen-menu {
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: top .5s ease-in-out;
}

.active-menu {
    top: 0;
}

.fullscreen-menu ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.fullscreen-menu h2 {
    font-family: Barlow;
    font-size: 18px;
    color: hsla(0, 0%, 100%, 0.65);
}

.fullscreen-menu a {
    /* transition: color 600ms ease; */
    font-family: Raleway, sans-serif;
    color: #fff;
    font-size: 5rem;
    line-height: 1;
    text-decoration: none;
    font-weight: 800;
    transition: .7s ease;
}

.fullscreen-menu a:hover {
    color: #ffdf8d;

}

.fullscreen-menu div {
    display: flex;
    justify-content: space-between;
    width: 85%;
    position: relative;
    top: 15%;
}




.fullscreen-menu h2 {
    font-size: 16px;
}

.fullscreen-menu a {
    font-size: 4rem;
}





section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    min-width: 0;

}

.my-services {
    display: flex;
    flex-direction: column;
    max-width: 1260px;
    text-align: center;
}

section h1 {
    font-family: Raleway, sans-serif;
    color: #fff;
    font-size: 42px;
    line-height: 100%;
    font-weight: 800;
    text-transform: uppercase;
}

.my-services h1 span {
    color: #ffdf8d;
}

.my-services_divs_container {
    display: flex !important;
    width: 100%;
    gap: 20px;
    color: #fff;
    margin-top: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.my-services-div h3 {
    font-family: Barlow, sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 130%;
    font-style: normal;
    font-weight: 700;
}

.my-services-div p {
    color: hsla(0, 0%, 100%, 0.65);
    font-family: Barlow;
    font-size: 16px;
    line-height: 130%;
    text-align: left;
    width: 90%;
}

.my-services-div img {
    height: 50px;
}

.my-services-div {
    border: 1px solid white;
    width: 270px;
    display: flex;
    height: 310px;
    align-items: center;
    justify-content: center;
}

.secrices-div_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    gap: 15px;
}

.div-bottom {
    position: relative;
    top: 30px;
}

.wrapper-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.heading-move {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 7em;
    width: 100%;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #ffdf8d77;
    white-space: nowrap;
    text-shadow: 0 0 2px #0a0909;
    transform: translateX(100%);
}

.about-me {
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    /* padding: 0 30px; */
}

.about-me_text {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    gap: 30px;

}

h1 span {
    color: #ffdf8d;
}

.about-me_photos {
    display: flex;
    justify-content: space-between;
    /* position: relative; */
    /* left: 60px; */
    /* width: 50%; */
}

.about-me_photos img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    /* max-width: 100%; */
    /* max-height: 100%; */
}



.about-me_text p {
    font-size: 16px;
    color: hsla(0, 0%, 100%, 0.65);
    font-family: Barlow;
    width: 90%;
}

.about-me_link span {
    position: relative;
    width: 100%;
    display: block;
    height: 3px;
    margin-top: 2px;
    background-color: #2a2a2a;
}

.about-me_link:hover span {
    animation: fill .7s forwards;
}

.about-me_link {
    font-family: Barlow;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    width: 130px;
    max-width: 100%;
}

.first-photo {
    position: relative;
    left: 22%;
}

.second-photo {
    position: relative;
    z-index: -1;
    top: 100px;
}

.feedback {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    min-width: 0;
    min-height: 0;
}

.feedback-head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.feedback-head h1 {
    width: 50%;
}

.feedback_link {
    font-family: Barlow;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    width: 300px;
    max-width: 100%;
}

.feedback_link span {
    position: relative;
    width: 100%;
    display: block;
    height: 3px;
    margin-top: 2px;
    background-color: #2a2a2a;
}

.feedback_link:hover span {
    animation: fill .7s forwards;
}




.response {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 100px;
    /* padding-right: 100px; */
    border: 2px solid white;
    color: #fff;
    margin-top: 150px;
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.response p {
    color: hsla(0, 0%, 100%, 0.65);
    font-size: 22px;
    line-height: 170%;
    font-family: Barlow;
    font-weight: 400;
    width: 45%;
}

.divider {
    width: 45%;
    height: 1px;
    background-color: #2a2a2a;
}

.client-name {
    margin-bottom: 5px;
    color: #fff;
    font-family: Barlow;
    font-size: 22px;
    font-weight: 600;
    width: 220px;
}

.client-job {
    color: hsla(0, 0%, 100%, 0.65);
    font-size: 16px;
    font-family: Barlow;
    font-weight: 300;
}

.client-info {
    display: flex;
    gap: 9%;
}

.clients {
    min-width: 0;
    /* min-height: 0; */
}

.buttons {
    color: black;
    display: flex;
    gap: 15px;
}

.left-button,
.right-button {
    background-color: #fff;
    width: 40px;
    height: 40px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: .5s;
}

.avatar {
    width: 40%;
    max-width: 100%;
    height: 30rem;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 0%;
    object-position: 50% 0%;
    position: absolute;
    right: 0;
    top: 30px;
}

.slide {
    display: flex;
}

.left-button:hover,
.right-button:hover {
    background-color: #0a0909;
    color: #fff;
    border: 1px solid white;
}

.time-to-get {
    margin-top: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 80%;
    gap: 30px;
}

.time-to-get h2 {
    color: #ffdf8d;
    font-size: 36px;
    font-family: Raleway;
}

.time_link {
    font-family: Barlow;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    width: 300px;
    max-width: 100%;
    text-align: center;
}

.time_link span {
    position: relative;
    width: 100%;
    display: block;
    height: 3px;
    margin-top: 2px;
    background-color: #2a2a2a;
}

.time_link:hover span {
    animation: fill .7s forwards;
}

.cta-bg-text {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: -1;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    font-family: Raleway, sans-serif;
    color: #161616;
    font-size: calc(120px + 6vw);
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: rgb(22, 22, 22);
    transition-duration: .7s;
}

.time-to-get:hover .cta-bg-text {
    color: rgb(83, 74, 49);
}

.instagram-photos {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    gap: 0;
    margin-top: 230px;
    border-bottom: 2px solid white;
}

.instagram-link {
    width: 19%;
    height: 250px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: Barlow;
    color: #fff;
    position: relative;
}


.instagram-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.instagram-link:hover::before {
    opacity: 1;
}

.instagram-link:hover span {
    opacity: 1;
    z-index: 10;
}

.instagram-link:hover {
    cursor: pointer;
}

.instagram-link span {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease;

}

.instagram-link h4 {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.8px;
}

.instagram-link h3 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.8px;
}

footer {
    display: flex;
    width: 100%;
}

.footer-info {
    display: flex;
    flex-direction: column;
    width: 35%;
    border-right: 2px solid white;
    padding-top: 80px;
    padding-left: 5%;
    gap: 10px;
    padding-bottom: 6%;


}

.footer-logo {
    width: 170px;
}

.footer-info a {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    font-family: Barlow;
}

.footer-info p {
    margin-top: 5px;
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.65);
    font-size: 16px;
    text-decoration: none;
    font-family: Barlow;
}

.footer-soc-media img {
    width: 35px;
}

.footer-soc-media {
    margin-top: 5px;
}

.footer-links {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.f-links-top {
    display: flex;
    height: 65%;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
}

.f-links-top ul a {
    color: #fff;
    text-decoration: none;
    transition: color 400ms ease;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-family: Barlow;
    font-size: 18px;
    text-align: center;
}

.f-links-top ul a:hover {
    color: #ffdf8d;
}

.f-links-top ul {
    display: flex;
    gap: 10%;
    width: 80%;
    justify-content: center;
}

.f-links-bottom small {
    color: hsla(0, 0%, 100%, 0.65);
    font-family: Barlow;
}

.f-links-bottom {
    padding-left: 5%;
    padding-top: 40px;
    padding-bottom: 6%;

}

.f-links-bottom small span {
    color: #fff;
}


@media screen and (max-width:1200px) {
    .head-text h2 {
        width: 90%;
    }

    .head-text {
        gap: 20px;
    }

    .head-text h1 {
        font-size: 48px;
    }

    .head-text h2 {
        font-weight: 400;
    }
}


@media screen and (max-width:1160px) {
    .about-me_photos img {
        width: 250px;
        height: 250px;
    }

    .first-photo {
        left: 0%;
    }

    .second-photo {
        right: 22%;
    }

    .about-me_text {
        padding-left: 10%;
    }


}

@media screen and (max-width:900px) {
    .about-me {
        flex-direction: column;
    }

    .about-me_photos img {
        width: 350px;
        height: 350px;
        max-width: 100%;
    }

    .about-me_photos {
        margin-top: 90px;
        padding-left: 10%;
    }


    .about-me_text {
        padding-left: 10%;
    }

    .feedback-head {
        align-items: flex-start;
        flex-direction: column;
        gap: 30px;
    }

    .feedback-head h1 {
        width: 90%;
    }

    .avatar {
        width: 50%;
        height: 25rem;
        right: -10%;
        top: 38px;
    }

    .response {
        width: 100%;
        margin-top: 50px;
    }

    .response p {
        font-size: 20px;
    }

    .cta-bg-text {
        font-size: calc(90px + 4vw);
    }

    .time-to-get {
        margin-top: 130px;
    }

    .instagram-photos {
        flex-wrap: wrap;
    }

    .instagram-link {
        width: 33%;
    }

    .f-links-top ul a {
        font-size: 16px;
    }

    .f-links-top ul {
        display: flex;
        gap: 5%;
        width: 80%;
        justify-content: center;
    }
}

@media screen and (max-width:825px) {
    .first-link {
        width: 210px;
    }

    .second-link {
        width: 90px;
    }

    .head-text {
        gap: 15px;
    }

    .head-text h1 {
        font-size: 32px;
    }

    .head-text h2 {
        font-size: 16px;
    }

    .head-text h3 {
        font-size: 18px;
    }

    .header-logo {
        width: 30%;
    }

    .burger-menu {
        width: 60px;
    }

    .head-text {
        position: relative;
        top: 30px;
    }

    header .swiper-slide img {
        height: 70%;
    }
}

@media screen and (max-width:700px) {
    .response {
        margin-top: 400px;
    }

    .response p {
        width: 90%;
    }

    .divider {
        width: 85%;
    }

    .avatar {
        width: 70%;
        right: 15%;
    }

    footer {
        flex-direction: column;
    }

    .footer-info {
        border-right: 0;
        border-bottom: 1px solid white;
        width: 100%;
        padding-top: 50px;
    }

    .footer-links {
        width: 100%;
    }

    .f-links-top {
        border-bottom: 1px solid white;

    }

    .footer-links ul li {
        font-size: 24px;
    }

    .footer-links ul {
        gap: 7%;
        width: 100%;
        padding: 3% 0;
        flex-wrap: wrap;
        row-gap: 10px;
    }

   

}

@media screen and (max-width:640px) {
    .head-content {
        flex-direction: column;
        display: flex;
        gap: 120px;
    }

    .head-text {
        width: 90%;
        top: 80px;
    }

    header .swiper {
        width: 100%;
        height: 500px;
    }

    header .swiper-slide img {
        height: auto;
    }

    .first-link {
        width: 230px;
    }

    .second-link {
        width: 95px;
    }

    .head-text {
        gap: 15px;
    }

    .head-text h1 {
        font-size: 44px;
    }

    .head-text h2 {
        font-size: 18px;
    }

    .head-text h3 {
        font-size: 20px;
    }

    .blackwork {
        display: none;
    }

}



@media screen and (max-width: 570px) {
    .div-bottom {
        position: relative;
        top: 0px;
    }

    section h1 {
        font-family: Raleway, sans-serif;
        color: #fff;
        font-size: 32px;
        line-height: 100%;
        font-weight: 800;
        text-transform: uppercase;
    }

    .heading-move {
        font-size: 3rem;
    }

    .response {
        position: relative;
        padding-left: 80px;
    }

    .client-info {
        flex-direction: column;
    }

    .buttons {
        position: absolute;
        bottom: 10px;
        left: 38%;
        /* right: 50%; */
    }

    .about-me_photos {
        margin-top: 40px;
    }

    .wrapper-text {
        height: 50vh;
        margin-top: 100px;
    }

    .cta-bg-text {
        font-size: calc(60px + 2vw);
    }

    .time-to-get h2 {
        font-size: 28px;
    }

    .time_link h3 {
        font-size: 20px;
    }

    .time_link span {
        display: none;
    }

    .time-to-get {
        gap: 15px;
    }
}

@media screen and (max-width:430px) {

    .head-text {
        width: 95%;
    }

    header .swiper {
        height: 300px;
    }

    header .swiper-slide img {
        position: relative;
        bottom: 50px;
    }

    .first-link {
        width: 210px;
    }

    .second-link {
        width: 85px;
    }

    .head-text h1 {
        font-size: 36px;
    }

    .head-text h2 {
        font-size: 16px;
        width: 86%;
    }

    .head-text h3 {
        font-size: 18px;
    }

    .fullscreen-menu a {
        font-size: 3rem;
    }

    .header-logo {
        width: 40%;
    }

    .second-photo {
        display: none;
    }

    .about-me_photos {
        margin-top: 60px;
        padding-left: 0%;
    }

    .avatar {
        width: 90%;
        right: 5%;
    }

    .response {
        padding-left: 40px;
    }

    .response p {
        font-size: 18px;
    }

    .buttons {
        left: 35%;
    }

    .time-to-get h2 {
        font-size: 24px;
    }

    .time-to-get h1 {
        font-size: 28px;
    }

    .wrapper-text {
        margin-top: 40px;
    }

    .instagram-link {
        width: 50%;
    }

}